* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 136, 170);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  border-radius: 10px;
}
h1 {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}
#inp {
  border: none;
  border-radius: 50px;
  background-color: rgb(210, 210, 210);
  color: gray;
  padding: 0.6rem 0.5rem;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 62px;
  margin-left: 35px;
}
#add {
  color: black;
  border: none;
  background-color: rgb(12, 206, 12);
  padding: 2.5px 12px;
  font-size: 30px;
  position: absolute;
  margin-left: -33px;
  border-radius: 190%;
}
#add:hover {
  color: black;
  border: none;
  background-color: rgb(106, 232, 106);
  padding: 2.5px 12px;
  font-size: 30px;
  position: absolute;
  margin-left: -33px;
  border-radius: 190%;
}
#list {
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  background-color: rgb(210, 210, 210);
  margin: 10px 34px;
}
#del {
  border: none;
  background: transparent;
  margin-right: 7px;
}
#list {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}
h4 {
  display: flex;
}
#del {
  display: flex;
}
